.App {
  text-align: center;
}

.home,
.album,
.search {
  padding: 20px;
}

a {
  color: #1db954;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-top: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.player-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #282c34;
  padding: 10px;
  color: white;
}
